<div class="login">
  <div class="login-container">
    <form
      class="login-container-form"
      #form="ngForm"
      (ngSubmit)="onSubmit(form)"
    >
      <label class="login-container-form-label" for="">Email</label>
      <input
        name="email"
        class="login-container-form-input"
        type="email"
        ngModel
        placeholder="Ex. pat@example.com"
      />
      <label class="login-container-form-label" for="">Password</label>
      <input
        name="password"
        class="login-container-form-input"
        ngModel
        type="password"
        placeholder="Ex. 12345678"
      />
      <button class="login-container-form-button" type="submit">Login</button>
    </form>
  </div>
</div>
